
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   font-family: 'Recursive', sans-serif; 
}
body {
   overflow-x: hidden;
}
::-webkit-scrollbar  {
   width: 8px;
   background: rgba(207, 207, 207);
}
::-webkit-scrollbar-thumb  {
   background: #a8a8a8;
   border-radius: 100vw;
}